@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif !important;
  color: white;
}

.font-18 {
  font-size: 18px !important;
}

.navbar {
  z-index: 9999;
}

.navbar-horo {
  height: 78px;
}

.nav-logo {
  width: 209px;
  height: 52px;
}

.navbar-horo .btn-register {
  font-size: 16px;
  color: black;
  border-radius: 5px;
  background: #fff;
  width: 188px;
}
.navbar-horo .btn-login {
  font-size: 16px;
  color: black;
  border-radius: 5px;
  background: #f6b401;
  width: 188px;
}

.navbar-active {
  z-index: 999;
  width: 100%;
  top: 0px;
  position: fixed !important;
  background-color: #110d1e !important;
  transition: transform 0.3s ease-in-out;
  animation:
    fadeIn 0.5s ease-in-out,
    slideDown 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.contanet {
  margin-top: -78px;
  top: 0;
  position: relative;
  height: 200vh;
  width: 100%;
  background-image: url('/img/home/bg-main-hero.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contanet .hero-banner {
  padding-top: 108px;
  height: 70vh;
}
.contanet .hero-banner .btn-register-seer {
  font-size: 20px;
  color: white;
  border-radius: 56px;
  background: #4c3a6a;
  width: 269px;
}
.contanet .hero-banner .box-text {
  width: 550px;
}
.contanet .hero-banner h1 {
  color: #fff;
  font-family: Noto Sans Thai;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

footer {
  /* border-top: 1px solid #fff; */
  font-size: 18px;
  height: 200px;
  background: linear-gradient(180deg, #000 0%, #0e0d1f 100%);
}
